---
import MainLayout from '../layouts/main-layout.astro'
import QuoteText from '../components/quote'
---

<MainLayout title = 'Ups...'>

  <!-- Banner Section -->

  <section class="w-full  h-[20rem] bg-cover bg-slate-500 flex justify-center items-end p-5">
    <QuoteText
      text="Si te pierdes y encuentras una tienda de helados, ¿realmente estás perdido?"
      name="Bill Murray" />  
  </section>
	</section>

 

</MainLayout>

<style>

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

</style>
